@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@600&display=swap');

$font-family: 'Edu NSW ACT Foundation', cursive;

$primary:        #fff;
$purple:        #cf649a;
$dark:            #222;
$theme-colors: (
  "primary":    $primary,
  "dark":       $dark,
  "purple":     $purple
) ;

@import "/node_modules/bootstrap/scss/bootstrap.scss"

